<app-search></app-search>
<div class="container text-center">
  <div class="container text-right">
    <input type="text" name="search" [(ngModel)]="search" (keyup.enter)="searchMovies()" placeholder="Search..">
  </div>
  </div>
  <!-- For showing movies -->
  <div *ngIf="showMoviesFlag==1">
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th>S.No</th> -->
            <th>Movie Name</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody *ngFor='let movie of movies'>
          <tr (click)="showMovieImage(movie)">
            <!-- <td></td> -->
            <td>{{movie.name}}</td>
            <td>{{movie.category}}</td>
          </tr>

        </tbody>
      </table>
    </div>




  </div>
  <div *ngIf="showMovieImageFlag==1">
    
      <img src={{select.image}}>
      <h3>{{select.name}}</h3>
      <h4>Category:{{select.category}}</h4>
    </div>